html {
    background-color: #2C3333;
}

body {
    font-family: 'Raleway', sans-serif;
}

.responsive {
    width: 80%;
    height: auto;
}

#title {
    background-color: #2C3333;
    color: white;
}

.title-rows {
    padding-top: 50px;
    text-align: center;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: 'Darker Grotesque', sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

h3 {
    font-weight: 1.5rem;
    font-weight: bold;
}

h4 {
    color: #b3b3b3;
}

.here:link{
    color: beige;
    background-color: transparent;
    text-decoration: none;
}

.here:visited{
    color: beige;
    background-color: transparent;
    text-decoration: none;
}

.here:hover{
    color: darkcyan;
    background-color: transparent;
    text-decoration: none;
}

p,
li {
    color: #8F8F8F;
}

.icon {
    margin-bottom: 1rem;
    color: inherit;
}

.icon:hover {
    color: #8F8F8F;
}

/* Navigation bar */

.navbar {
    padding: 0 0 1rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 3rem;
}

.nav-image {
    width: 100px;
}

.nav-item {
    padding: 0 15px;
}

.nav-link {
    font-size: 1.5rem;
}

/* Download bottons */

.download-botton {
    margin: 5% 3% 5% 0;
}


/* Title image */
.title-image {
    width: 100%;
}

/* Books */
#books {
    background-color: #233131;
    color: #b3b3b3;
    text-align: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: italic;
}

.book-image {
    width: 300px;
    height: auto;
    margin: 20px;
}

.book-image-amazon {
    width: 200px;
    height: auto;
    margin: 20px;
}


.carousel-item {
    padding: 7% 15%;
}

/* Buy */
#buy {
    padding: 100px;
    text-align: center;
    background-color: #183838;
}

#buy h2 {
    color: #b3b3b3;
}

.pricing-column {
    padding: 3% 2%;
}

.listed-price {
    font-weight: 400;
}

.card-header {
    background-color: #18383848;
}

.card-body {
    background-color: #586d6d;
}

.card-footer {
    background-color: #18383848;
}

/* Contact */
#contact {
    padding: 7% 15%;
    background-color: #2f3b3b;
    text-align: center;
}

#contact h2{
    color: #b3b3b3;
}

.contact-box {
    padding: 5%;
}

@media (max-width: 1028px) {
    .nav-image {
        width: 0%;
        height: 0%;
        visibility: hidden;
    }

    .navbar-logo {
        display: none;
    }

    .initial-image {
        width: 90%;
    }

    .book-image {
        width: 80%;
    }

    .book-image-amazon{
        width: 75%;
    }

    .pricing-column-amazon{
        width: 50%;
    }

    .responsive {
        width: 100%;
        height: auto;
    }

    #buy {
        padding: 50px 60px 100px;
    }

    .title-rows {
        padding-top: 30px;
    }
}

/* Location */
#location {
    padding: 100px 10px;
    text-align: center;
    background-color: #f5f4f2;
}

/* Footer */
#footer {
    text-align: center;
    background-color: #2C3333;

}

#footer a {
    text-decoration: none !important;
}

.social-icon {
    margin: 20px 10px;
    color: inherit;
}